
/* Base Element Styles  */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    color: #1E4270;
    width: 100%;
}

body {
	font-family: Roboto, sans-serif;
    line-height: 1.6;
    background-color: #F2F2F2;
}

p {
	font-size: 1em;
    margin-bottom: 1.8em;
    line-height: 1.5;
    text-align: center;
}

nav {
    font-family: 'Architects Daughter', Roboto, sans-serif ;
}

/* Navigation Top and footer */

.name {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    color: #1E4270;
}

.main-nav {
    width: 100%;
    font-size: 1.8em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav li {
    list-style: none;
    padding: 15px 10px;
    font-size: 18px;
    text-align: center;
}

.main-nav a:hover {
    color: #418FDE;
}

.nav-footer a:hover {
    color: #418FDE;
}

.main-nav a {
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em;
}

a {
    text-decoration: none;
}

a:hover{
    color:#418FDE;
}

footer {
    border-top: double #1E4270;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%; 
    
}

.container {
   width: 100%;
   display: flex;
   flex-direction: row;
   vertical-align: bottom;
   align-items: flex-end;
}

.footer-name {
    font-size: .70em;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-nav {
    display: none;
}

.back-to-top {
    font-size: .70em;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
}

.back-to-top a {
    margin: 0;
    padding: 0;
    text-align: end;
}

.text-color {
    color: #35a936;
    font-family: 'Architects Daughter', Roboto, sans-serif;
}

.text-h2 {
    font-family: 'Architects Daughter', Roboto, sans-serif;
}
/* Main Area */

h1 {
text-align: center;
font-family: 'Architects Daughter', Roboto, sans-serif;
}

section {
    text-align: center;
}

img:hover {
    transform: scale(.97);
}

img {
    transition-duration: .1s;
}

.portfolio {
    padding-bottom: 10%;
}

/* Media Queries */

@media screen and (min-width:768px) {
    .main-nav {
        width: 100%;
        font-size: 1.8em;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .profile-info {
       display: flex;
    }

    .profile {
        width: 30%;
        align-items: flex-end;
        flex: 1;
    }

    .profile-text {
        width: 70%;
        align-items: flex-start;
        flex: 2;
        padding-top: 10%;
        margin-left: 25px;
    }

    #portfolio {
        padding: 40px;
    }

    .section-one {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .s1-container {
        width: 45%;
    }

    .section-two {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .s2-container {
        width: 45%;
    }

    .contact-text {
        width: 45%;
        margin-left: 28%;
    }

    .back-to-top {
    display: none;
    }

    footer {
        border-top: double #A7E7FF;
        width: 100%;
        
    }

    .footer-nav {
        padding-left: 20px;
        font-size: 1em;
        text-transform: uppercase;
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer-nav li {
        display: inline-block;
        width: 30%;
        text-align: center;
    }

    .footer-name {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 1024px) {

    nav {
        display: flex;
    }

    .name {
        text-align: left;
        padding-left: 52px;
    }

    .section-one {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .s1-container {
        width: 33%;
    }
    
}